<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administrador</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style=" background: #FFFAE1;">
<!--Encabezado-->
<div class="row" style="margin-bottom:0; background: #07d7e3;font-family: 'Oswald', sans-serif;color: white; text-align: center">
    <div class="col-sm-2">

        <img   src="../Imagenes/santelogo.png" height="200" width="200"/>
    </div>
    <div class="col-sm-7" style="margin-top: 60px">
        <h1 > ODONTOLOGÍA, MEDICINA & NUTRICIÓN</h1>
    </div>
</div>


<!--EmpiezaBarra de Herramientas -->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <a class=""><button type="button" class="btn btn-dark">Regresar<br><img src="../Imagenes/izq.png" height="50" width="50"/></button></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="" title="Regresar" ><button type="button" class="btn btn-dark">Avanzar<br><img  title="Regresar" src="../Imagenes/derecha.png" height="50" width="50"/></button></a>
            </li>

            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Actualizar Datos<br><img src="../Imagenes/actualizar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Agregar<br><img src="../Imagenes/agregar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Principal <br><img src="../Imagenes/principal.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Guardar<br><img src="../Imagenes/guardar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Editar<br><img src="../Imagenes/editar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Borrar<br><img src="../Imagenes/borrar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Imprimir<br><img src="../Imagenes/impresora.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Copiar<br><img src="../Imagenes/copiar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Cortar<br><img src="../Imagenes/cortar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Pegar<br><img src="../Imagenes/pegar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Firmar<br><img src="../Imagenes/firmar.png" height="50" width="50"/></button></a>
            </li>
            <li class="nav-item">
                <a class=""><button type="button" class="btn btn-dark">Salir<br><img src="../Imagenes/salir.png" height="50" width="50"/></button></a>
            </li>





        </ul>
    </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search">
            <a class="btn btn-dark"><img src="../Imagenes/buscar.png" height="50" width="50"/></a>
        </form>

</nav>
<!--Termina Barra de Herramientas -->

<div class="row" >
    <div class="col-sm-12" style="text-align: center; color:black; font-family: 'Mukta', sans-serif; font-size: 35px;">
        <b>Usuarios</b>
    </div>

</div>

</div>
</div>
</div>

</div>
</body>
</html>